@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dekko&display=swap');


table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    width: 100%;
}
th {
    font-family: 'Finger Paint', cursive;
    border: thin solid #6495ed;
    width: 50%;
    padding: 7px;
    background-color: #D0E3FA;
    background-image: url(sky.jpg);
    font-size: 20px;
}
td {
    font-family: 'Dekko', cursive;
    border: 3px solid white;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    font-size:20px;
}
caption {
    font-family: sans-serif;
}
td:nth-of-type(odd){
    color:orangered;
    background-color: black;
}
td:nth-of-type(even){
    color: darkslategrey;
    background-color: bisque;
}